/tgr-app/node_modules/
/tgr-app/.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# python cache
*__pycache__/
.history/

# macOS
.DS_Store

# secrets
secrets
.env
